constraints: PSQueue ==1.1,
             array ==0.5.0.0,
             base ==4.7.0.1,
             bifunctors ==4.1.1.1,
             blaze-builder ==0.3.3.2,
             bytestring ==0.10.4.0,
             comonad ==4.2.2,
             containers ==0.5.5.1,
             contravariant ==1.2,
             data-default ==0.5.3,
             data-default-class ==0.0.1,
             data-default-instances-base ==0.0.1,
             data-default-instances-containers ==0.0.1,
             data-default-instances-dlist ==0.0.1,
             data-default-instances-old-locale ==0.0.1,
             deepseq ==1.3.0.2,
             directory ==1.2.1.0,
             distributive ==0.4.4,
             dlist ==0.7.1,
             exceptions ==0.6.1,
             filepath ==1.3.0.2,
             free ==4.9,
             ghc-prim ==0.3.1.0,
             gnome-citadel ==0.2.0.0,
             hashable ==1.2.2.0,
             integer-gmp ==0.5.1.0,
             lens ==4.4.0.1,
             mtl ==2.1.3.1,
             nats ==0.2,
             old-locale ==1.0.0.6,
             parallel ==3.2.0.4,
             parsec ==3.1.5,
             prelude-extras ==0.4,
             pretty ==1.1.1.1,
             primitive ==0.5.3.0,
             profunctors ==4.2.0.1,
             reflection ==1.5.1,
             rts ==1.0,
             semigroupoids ==4.2,
             semigroups ==0.15.2,
             split ==0.2.2,
             tagged ==0.7.2,
             template-haskell ==2.9.0.0,
             terminfo ==0.4.0.0,
             text ==1.1.1.3,
             time ==1.4.2,
             transformers ==0.3.0.0,
             transformers-compat ==0.3.3.4,
             unix ==2.7.0.1,
             unordered-containers ==0.2.5.0,
             utf8-string ==0.3.8,
             vector ==0.10.11.0,
             void ==0.6.1,
             vty ==5.2.1,
             zlib ==0.5.4.1
